<h3>ユーザー詳細</h3>
<div class="col-md-6">
  <table class="table table.hover">
    <tbody>
      <tr>
        <td scope="col">name</td>
        <td scope="col"><%= @user.name %></td>
      </tr>
      <tr>
        <td scope="col">email</td>
        <td scope="col"><%= @user.email %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="user-show">
  <%= link_to '編集', edit_user_path, class:"btn btn-success" %>
  <%= link_to 'タスク一覧', tasks_path, class:"btn btn-dark" %>
</div>