body {
  width: 100%;
}

li {
  list-style: none;
  float: left;
}

table, tr {
  width: 100%;
}

table, td, th {
  border-collapse: collapse;
  border: solid 0.02rem rgba(226, 223, 223, 0.856);
}

.tile {
  width: 10%;
}

.content {
  width: 40%;
}

.create-time, .end-time {
  width: 10%;
}

.field_with_errors {
  padding: 1px;
  background-color: red;
  display: table;
}